.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}
h3{
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #61dafb;
}

.upload-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-color:white;
  margin-bottom: 40px;
}

.results{
  margin-top: 40px;
}
